home<br/>
<br/>
start game:<br/>
    select players<br/>
    select card loadout<br/>
<br/>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <panel header="In Progress Games">
                in progress games

                <button>Rejoin</button>
            </panel>
        </div>

        <div class="col-md-6">

            Make this whole thing an overlay :)

            <panel header="Select Players">
                select players
                <br/>
                {{players}}
            </panel>

            <div ng-hide="cardsMap">
                <panel header="Select Expansions">
                    <dl class="dl-horizontal" ng-repeat="(expansionType, expansion) in expansionsMap">
                        <dt>
                            <input type="checkbox" name="expansionSelection" checklist-model="selectedExpansions" checklist-value="expansionType" >
                        </dt>
                        <dd class="text-left">
                            {{expansion.displayName}}
                        </dd>
                    </dl>
                </panel>
            </div>
            <div ng-show="cardsMap">
                <panel header="Select Kingdom Cards">
                    <dl class="dl-horizontal" ng-repeat="(cardType, card) in cardsMap">
                        <dt>
                            <input type="checkbox" name="cardSelection" checklist-model="selectedCards" checklist-value="cardType" >
                        </dt>
                        <dd class="text-left">
                            {{card.displayName}}
                        </dd>
                    </dl>
                </panel>
            </div>

            <button ng-click="selectCards()">Select Cards</button>
        </div>
    </div>
</div>



